$maincolor:#d8abd0;
$nav-footer:#ac7da3;
$textlink:#ac7da3;
html, body { overflow-x:hidden; }
a{
    color:$textlink;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color:#704f6a;
}
section{
    padding: 4rem 1rem;
}
body{
    color:#212425;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: $nav-footer;
      .navbar-light .navbar-brand{
        color:white;
        font-size: 25px;
    }
    .navbar-light .navbar-brand:hover{
        color:white;
    }
    
    .navbar-light .nav-item .nav-link{
        color:#ffffff;
        border-bottom: 2px solid $nav-footer ;
    }
    .navbar-light .nav-item .nav-link:hover{
        color:#704f6a;
        border-bottom: 2px solid #704f6a ;
    }
    .navbar-light .nav-item .nav-link.active{
        color:#704f6a;
        border-bottom: 2px solid #704f6a ;
    }
}
header{
    //background-color: $maincolor;
    h1{
        text-align: center;
        padding: 1rem 3rem;
    }
    h3{
        margin: 1rem;
    }
    padding: 3rem;
}
.purpose{
    padding: 5rem;
    background-color: $maincolor;
    .purpose__info{
        padding: 2rem 1rem;
        border:1px solid $nav-footer;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        background-color: #fff;

    }
    .purpose__info-img{
        padding: 2rem 1rem;
       img{
        border-radius: 4px;
        border:1px solid $nav-footer;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);  
       } 
         
    }
}
.team{
    h2{
        padding-bottom: 2rem;
    }
    .card{
      margin: 0.5rem;; 
    }
    .card-text:nth-child(1){
        font-weight: 500;
    }
    .card-text:nth-child(2){
        font-style: italic;
        
    }
}


footer{
    text-align: center;
    padding: 1.5rem;
    background-color: $nav-footer;
    
    p{
        margin: 0;    
    }
    a{
        padding-left: 10px;
    }
    
}

//////////////////////////////Программы///////////////
.programs-action{
    padding: 4rem 1rem;
    h2{
        padding-bottom: 4rem;
    }
    .programs-action__item{
        padding: 2rem 1rem;
        h3{
            padding: 1rem;
        }
        .main-slider{
            background-color: $maincolor;
            padding: 0.5rem;
            border:1px solid $nav-footer;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);  
        }
    }
    
}
////////////////////////ХОЧУ ПОМОЧЬ//////////////////
.help{
    padding: 4rem 1rem;
    h2{
        padding-bottom: 4rem;
    } 
    .tabs__caption{
            margin: 0;
            padding: 0;
            list-style: none; 
        li{
            
            padding: 2rem ;
            display: inline;
            list-style: none;
            border: 1px solid $nav-footer;
            border-radius: 6px 6px 0px 0px ;
        }
       
        li.active{
            background-color: $maincolor;
            border: 1px solid $nav-footer;
            border-bottom: none;
        } 
    }
    
    .tabs__content {
        padding: 2rem 1rem;
        display: none; /* по умолчанию прячем все блоки */
        background-color: $maincolor;
        border: 1px solid $nav-footer;
        border-top: none;
        border-radius:0px 0px 6px 6px  ;
    }
    .tabs__content.active {
        display: block; /* по умолчанию показываем нужный блок */
    }
    .volunteer__text{
        border:1px solid $nav-footer;
        background-color: #fff; 
        padding: 1rem;  
        border-radius: 4px;
    }  
    .txt{
        margin-bottom: 0.1rem;
        padding: 0.5rem;
        border: 1px solid $nav-footer;
        border-radius: 4px;
    }
    .txt:nth-child(4){
        height: 12rem;
    }
    .txt:focus{
        outline: 2px solid $nav-footer;
    }
    .items{
        li{
            font-weight: bold;
            
        }
        .items__list{
            margin: 1rem 5rem;
            padding: 3rem 1rem;
            border:1px solid $nav-footer;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            background-color: #fff;
            ul{
                list-style: none;
                font-size: 1.2rem;
            }
           .card{
               margin: 1rem;
               p{
                   font-weight: bold;
               }
           } 
        }
    }
    

      
}